<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Theme</key>
	<string>light</string>
	<key>DropdownMenu</key>
	<true/>
	<key>HomeScreenAdsEnabled</key>
	<false/>
	<key>DetailViewAdsEnabled</key>
	<true/>
	<key>AdmobAppId</key>
	<string>ca-app-pub-3940256099942544~1458002511</string>
	<key>AdmobAdUnitId</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>DefaultBarFont</key>
	<string>Coustard</string>
	<key>DefaultCellFont</key>
	<string>Varela</string>
	<key>DisplayMode</key>
	<string>Image</string>
	<key>Feeds</key>
	<array>
		<dict>
			<key>name</key>
			<string>Wired</string>
			<key>url</key>
			<string>http://feeds.wired.com/wired/index</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Design</string>
			<key>url</key>
			<string>CategoryFeed</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TechInAsia</string>
			<key>url</key>
			<string>https://www.techinasia.com/feed/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Startups</string>
			<key>url</key>
			<string>CategoryFeed</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Techcrunch</string>
			<key>url</key>
			<string>http://feeds.feedburner.com/TechCrunch/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Verge</string>
			<key>url</key>
			<string>http://www.theverge.com/rss/index.xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Macworld</string>
			<key>url</key>
			<string>http://www.macworld.com/index.rss</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Computer World</string>
			<key>url</key>
			<string>http://www.computerworld.com/index.rss</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Inc.com</string>
			<key>url</key>
			<string>http://feeds.inc.com/home/updates?format=xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CNet News</string>
			<key>url</key>
			<string>http://www.cnet.com/rss/news/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mashable</string>
			<key>url</key>
			<string>http://feeds.mashable.com/Mashable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Re/code</string>
			<key>url</key>
			<string>http://recode.net/feed/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TheTechBlock</string>
			<key>url</key>
			<string>http://feedpress.me/thetechblock</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Quartz</string>
			<key>url</key>
			<string>http://qz.com/feed/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Slashgear</string>
			<key>url</key>
			<string>http://feeds.slashgear.com/slashgear?format=xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Arstechnica</string>
			<key>url</key>
			<string>http://arstechnica.com/feed/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gizmodo</string>
			<key>url</key>
			<string>http://feeds.gawker.com/gizmodo/full?format=xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZDNet</string>
			<key>url</key>
			<string>http://www.zdnet.com/blog/rss.xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TechRadar</string>
			<key>url</key>
			<string>http://feeds.feedburner.com/techradar/allnews?format=xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lifehack</string>
			<key>url</key>
			<string>http://feeds.lifehack.org/Lifehack</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lifehacker</string>
			<key>url</key>
			<string>http://feeds.gawker.com/lifehacker/full#_ga=1.229767580.1417873084.1434605533?format=xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ProBlogger</string>
			<key>url</key>
			<string>http://feeds.feedburner.com/ProbloggerHelpingBloggersEarnMoney</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PanX.asia</string>
			<key>url</key>
			<string>https://panx.asia/feed</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TheNextWeb</string>
			<key>url</key>
			<string>http://feeds2.feedburner.com/thenextweb?format=xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kickstarter</string>
			<key>url</key>
			<string>https://www.kickstarter.com/projects/feed.atom</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Economist</string>
			<key>url</key>
			<string>http://www.economist.com/sections/science-technology/rss.xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>QuickSprout</string>
			<key>url</key>
			<string>http://feeds2.feedburner.com/quicksprout?format=xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Engadget中文版</string>
			<key>url</key>
			<string>http://chinese.engadget.com/rss.xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TechOrange</string>
			<key>url</key>
			<string>http://buzzorange.com/techorange/feed/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>立場新聞</string>
			<key>url</key>
			<string>https://www.thestandnews.com/rss/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sugarada</string>
			<key>url</key>
			<string>http://www.sugarada.com/feed</string>
		</dict>
		<dict>
			<key>name</key>
			<string>StartupBeat</string>
			<key>url</key>
			<string>http://startupbeat.hkej.com/?feed=rss2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>天下雜誌</string>
			<key>url</key>
			<string>http://www.cw.com.tw/RSS/cw_content.xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BuzzOrange</string>
			<key>url</key>
			<string>http://buzzorange.com/feed/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Unwire</string>
			<key>url</key>
			<string>http://www.unwire.hk/feed</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Google News</string>
			<key>url</key>
			<string>https://news.google.com/news?cf=all&amp;hl=en&amp;pz=1&amp;ned=us&amp;topic=tc&amp;output=rss</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Heroichollywood</string>
			<key>url</key>
			<string>http://heroichollywood.com/home-1?format=RSS</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Newsgroup</string>
			<key>url</key>
			<string>http://www.reduser.net/forum/external.php?type=RSS2&amp;forumids=19</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tinkoff Journal</string>
			<key>url</key>
			<string>http://journal.tinkoff.ru/feed/</string>
		</dict>
	</array>
	<key>CategoryFeeds</key>
	<dict>
		<key>Design</key>
		<array>
			<dict>
				<key>name</key>
				<string>Smashing Magazine</string>
				<key>url</key>
				<string>http://www.smashingmagazine.com/feed/</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Webdesign Depot</string>
				<key>url</key>
				<string>http://feeds2.feedburner.com/webdesignerdepot?format=xml</string>
			</dict>
			<dict>
				<key>name</key>
				<string>David Airey</string>
				<key>url</key>
				<string>http://feeds.feedburner.com/CreativeDesign</string>
			</dict>
		</array>
		<key>Startups</key>
		<array>
			<dict>
				<key>name</key>
				<string>Joel Gascoigne</string>
				<key>url</key>
				<string>http://joel.is/rss/</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Stratechery</string>
				<key>url</key>
				<string>http://stratechery.com/feed/</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Andrew Chen</string>
				<key>url</key>
				<string>http://andrewchen.co/recent/feed/</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Tim Ferriss</string>
				<key>url</key>
				<string>http://fourhourworkweek.com/blog/feed/</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Buffer Blog</string>
				<key>url</key>
				<string>http://feeds.feedburner.com/bufferapp</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Guy Kawasaki</string>
				<key>url</key>
				<string>http://guykawasaki.com/feed/</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Aristeguinoticias</string>
				<key>url</key>
				<string>http://feeds.feedburner.com/AristeguiNoticias</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Eluniversal MX</string>
				<key>url</key>
				<string>http://www.eluniversal.com.mx/rss/universalmxm.xml</string>
			</dict>
			<dict>
				<key>name</key>
				<string>CNN</string>
				<key>url</key>
				<string>http://feeds2.feedburner.com/cnnexpansion/portada</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
