<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Theme</key>
	<string>dark</string>
	<key>DropdownMenu</key>
	<false/>
	<key>HomeScreenAdsEnabled</key>
	<false/>
	<key>DetailViewAdsEnabled</key>
	<true/>
	<key>AdmobAppId</key>
	<string>ca-app-pub-3940256099942544~1458002511</string>
	<key>AdmobAdUnitId</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>DefaultBarFont</key>
	<string>Coustard</string>
	<key>DefaultCellFont</key>
	<string>Varela</string>
	<key>DisplayMode</key>
	<string>Image</string>
	<key>Feeds</key>
	<array>
		<dict>
			<key>name</key>
			<string>Apple Developer News</string>
			<key>url</key>
			<string>http://developer.apple.com/news/rss/news.rss</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RayWenderlich</string>
			<key>url</key>
			<string>https://www.raywenderlich.com/feed</string>
		</dict>
		<dict>
			<key>name</key>
			<string>AppCoda</string>
			<key>url</key>
			<string>http://feeds.feedburner.com/appcoda</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iOS Dev Weekly</string>
			<key>url</key>
			<string>http://feeds.feedburner.com/iosdevweekly</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Realm</string>
			<key>url</key>
			<string>http://feeds.feedburner.com/realmio</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Swift.org</string>
			<key>url</key>
			<string>https://swift.org/atom.xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Swift Weekly Brief</string>
			<key>url</key>
			<string>http://swiftweekly.github.io/feed.xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NSHipster</string>
			<key>url</key>
			<string>http://nshipster.com/feed.xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Big Nerd Ranch</string>
			<key>url</key>
			<string>http://feeds.feedburner.com/bignerdranch</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FATAL ERROR</string>
			<key>url</key>
			<string>http://fatalerror.fm/episodes?format=RSS</string>
		</dict>
		<dict>
			<key>name</key>
			<string>swifting.io</string>
			<key>url</key>
			<string>https://swifting.io/feed/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Use Your Loaf</string>
			<key>url</key>
			<string>http://useyourloaf.com/blog/rss.xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Inessential</string>
			<key>url</key>
			<string>http://inessential.com/xml/rss.xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cocoa With Love</string>
			<key>url</key>
			<string>https://www.cocoawithlove.com/feed.xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ole Begemann</string>
			<key>url</key>
			<string>https://oleb.net/blog/atom.xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Merowing</string>
			<key>url</key>
			<string>http://merowing.info/index.xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iOS Tools</string>
			<key>url</key>
			<string>https://maniacdev.com/feed</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The iOS Times</string>
			<key>url</key>
			<string>http://theiostimes.com/feed.xml</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Releasenotes</string>
			<key>url</key>
			<string>http://releasenotes.tv/feed/podcast/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NSBlog</string>
			<key>url</key>
			<string>https://www.mikeash.com/pyblog/rss.py?mode=fulltext</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Quality Coding</string>
			<key>url</key>
			<string>http://feeds.feedburner.com/qualitycoding</string>
		</dict>
	</array>
	<key>CategoryFeeds</key>
	<dict>
		<key>Design</key>
		<array>
			<dict>
				<key>name</key>
				<string>Smashing Magazine</string>
				<key>url</key>
				<string>http://www.smashingmagazine.com/feed/</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Webdesign Depot</string>
				<key>url</key>
				<string>http://feeds2.feedburner.com/webdesignerdepot?format=xml</string>
			</dict>
			<dict>
				<key>name</key>
				<string>David Airey</string>
				<key>url</key>
				<string>http://feeds.feedburner.com/CreativeDesign</string>
			</dict>
		</array>
		<key>Startups</key>
		<array>
			<dict>
				<key>name</key>
				<string>Joel Gascoigne</string>
				<key>url</key>
				<string>http://joel.is/rss/</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Stratechery</string>
				<key>url</key>
				<string>http://stratechery.com/feed/</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Andrew Chen</string>
				<key>url</key>
				<string>http://andrewchen.co/recent/feed/</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Tim Ferriss</string>
				<key>url</key>
				<string>http://fourhourworkweek.com/blog/feed/</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Buffer Blog</string>
				<key>url</key>
				<string>http://feeds.feedburner.com/bufferapp</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Guy Kawasaki</string>
				<key>url</key>
				<string>http://guykawasaki.com/feed/</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Aristeguinoticias</string>
				<key>url</key>
				<string>http://feeds.feedburner.com/AristeguiNoticias</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Eluniversal MX</string>
				<key>url</key>
				<string>http://www.eluniversal.com.mx/rss/universalmxm.xml</string>
			</dict>
			<dict>
				<key>name</key>
				<string>CNN</string>
				<key>url</key>
				<string>http://feeds2.feedburner.com/cnnexpansion/portada</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
